@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@400;600;700&family=Oswald&display=swap"); /*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
  margin: 0;
}

/*
3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
9.
Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
*/
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 
10. Set core root defaults
*/
html:focus-within {
  scroll-behavior: smooth;
}

/*
mobile first breakpoints
- 0 - 600 (no breakpoint, where our normal styles apply)
- tab-port - 601 - 900
- tab-land - 901 - 1200
- desktop - 1201 - 1800
- big-desktop - 1801+ 

*/
html {
  font-size: 62.5%;
}

body {
  background-color: #fefefe;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #353b5e;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.header {
  padding: 0 1.6rem;
  background-color: #353b5e;
  color: #fefefe;
}
.header__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.header__content-wrapper {
  max-width: 108rem;
  margin: 0 auto;
  height: 100%;
}
.header__content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem 0 6rem 0;
}
.header__content-left {
  display: flex;
  align-items: flex-start;
}
.header__content-left img {
  display: none;
  margin-top: 3.6rem;
}
@media (min-width: 901px) {
  .header__content-left img {
    display: block;
  }
}
.header__content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__content-right img {
  display: none;
}
@media (min-width: 901px) {
  .header__content-right img {
    display: block;
  }
}
.header__content-right img:first-child {
  width: 25.3rem;
  margin-top: 2.4rem;
}
.header__content-right img:last-child {
  width: 13.2rem;
  margin-right: 3.6rem;
}
.header__photo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.5rem solid #fefefe;
}
.header__name {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 3.6rem;
  text-align: center;
  line-height: 1;
}
.header__subtitle {
  text-align: center;
  line-height: 1;
}
.header__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
}
.header__social-link {
  display: block;
  text-decoration: none;
}
.header__social-link:focus-visible {
  outline: none;
  border: none;
  transform: scale(1.5);
  transition: transform 250ms ease-in-out;
}
@media (min-width: 901px) {
  .header__social-link:hover {
    transform: scale(1.3);
    transition: transform 250ms ease-in-out;
  }
}
.header__social .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #C88FC4;
  color: #353b5e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
.navbar__lang-toggle {
  z-index: 100;
  color: #fefefe;
}
.navbar__items {
  position: absolute;
  top: -100%;
  left: 0;
  transform: translateY(0);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  width: 100%;
  height: 100%;
  padding-top: 9.6rem;
  background-color: #353b5e;
  transition: transform ease-in-out 250ms, visibility ease-in-out 250ms;
}
@media (min-width: 901px) {
  .navbar__items {
    position: static;
    flex-direction: row;
    visibility: visible;
    width: auto;
    transform: unset;
    padding-top: 0;
    font-family: "Oswald", sans-serif;
  }
}
.navbar__link {
  position: relative;
  z-index: 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fefefe;
}
@media (min-width: 901px) {
  .navbar__link {
    text-transform: unset;
    font-weight: 400;
  }
}
.navbar__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.6rem;
  z-index: -1;
  width: calc(100% + 1.2rem);
  height: calc(100% + 0.4rem);
  transform: scaleX(0);
  background-color: #fefefe;
}
@media (min-width: 901px) {
  .navbar__link::before {
    transform: unset;
    display: none;
  }
}
.navbar__link:focus-visible {
  border: none;
  outline: none;
  color: #353b5e;
}
.navbar__link:focus-visible::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
@media (min-width: 901px) {
  .navbar__link:hover, .navbar__link:focus-visible {
    color: #353b5e;
    transform: rotate(-10deg) scale(1.1);
    transition: transform 250ms ease-in-out;
  }
  .navbar__link:hover::before, .navbar__link:focus-visible::before {
    display: block;
  }
}
.navbar__hamburger {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 3.6rem;
  color: #fefefe;
  cursor: pointer;
  padding: 0.4rem;
}
.navbar__hamburger:focus-visible {
  outline: none;
  background-color: #fefefe;
}
.navbar__hamburger:focus-visible .navbar__hamburger-line {
  background-color: #353b5e;
}
.navbar__hamburger-line {
  width: 100%;
  height: 0.2rem;
  opacity: 1;
  background-color: #fefefe;
  border-radius: 1rem;
  transform-origin: left center;
  transition: transform ease-in-out 250ms, opacity ease-in-out 250ms;
}
.navbar__hamburger--x .navbar__hamburger-line:first-child {
  transform: rotate(45deg);
}
.navbar__hamburger--x .navbar__hamburger-line:nth-child(2) {
  opacity: 0;
}
.navbar__hamburger--x .navbar__hamburger-line:last-child {
  transform: rotate(-45deg);
}
.navbar__hamburger--x ~ .navbar__items {
  visibility: visible;
  transform: translateY(100%);
}
@media (min-width: 901px) {
  .navbar__hamburger {
    display: none;
  }
  .navbar__hamburger ~ .navbar__items {
    transform: unset;
  }
}

/*# sourceMappingURL=style.css.map */
