@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&family=Oswald&display=swap"); /*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
  margin: 0;
}

/*
3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
9.
Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
*/
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 
10. Set core root defaults
*/
html:focus-within {
  scroll-behavior: smooth;
}

/*
mobile first breakpoints
- 0 - 600 (no breakpoint, where our normal styles apply)
- tab-port - 601 - 900
- tab-land - 901 - 1200
- desktop - 1201 - 1800
- big-desktop - 1801+ 

*/
:root {
  color-scheme: light dark;
  --body_bg: #fefefe;
  --body_text: #353b5e;
  --header_bg: #353b5e;
  --header_text: #fefefe;
  --header-icon_bg: #C88FC4;
  --navbar-link-hover_bg: #fefefe;
  --section-about_bg: #e2e9ef;
  --skills-bar-wrapper_bg: #e2e9ef;
  --selection-highlight_bg: #72477C;
  --selection-highlight_text: #fefefe;
  --theme-toggle_bg: #e2e9ef;
  --theme-icon-inactive_color: rgba(53, 59, 94, 0.5);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.6rem;
  font-size: 62.5%;
}
html[data-theme=dark] {
  --body_bg: #21253b;
  --body_text: #ced1e4;
  --header_text: #e5e6f1;
  --navbar-link-hover_bg: #e5e6f1;
  --section-about_bg: #1a1d2e;
  --skills-bar-wrapper_bg: #090d10;
}
html.menu-overlay {
  overflow-y: hidden;
}

body {
  background-color: var(--body_bg);
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: var(--body_text);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

::selection {
  color: var(--selection-highlight_text);
  background-color: var(--selection-highlight_bg);
}

.header {
  padding-top: 5.6rem;
  background-color: var(--header_bg);
  color: var(--header_text);
  overflow: hidden;
}
.header__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: 108rem;
  margin: 0 auto;
  padding-inline: 1.6rem;
}
.header__content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem 0 6rem 0;
}
.header__content-left {
  display: flex;
  align-items: flex-start;
}
.header__content-left img {
  display: none;
  margin-top: 3.6rem;
}
@media (min-width: 901px) {
  .header__content-left img {
    display: block;
    transform: translateX(-100px);
    opacity: 0;
    animation: slide-from-left 750ms 100ms ease-in-out forwards;
  }
}
.header__content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__content-right img {
  display: none;
}
@media (min-width: 901px) {
  .header__content-right img {
    display: block;
  }
}
.header__content-right img:first-child {
  width: 25.3rem;
  margin-top: 2.4rem;
  transform: translateX(100px);
  opacity: 0;
  animation: slide-from-right 750ms 350ms ease-in-out forwards;
}
.header__content-right img:last-child {
  width: 13.2rem;
  margin-right: 3.6rem;
  opacity: 0;
  animation: opacity 750ms 950ms ease-in-out forwards;
}
.header__photo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.5rem solid var(--header_text);
  transform: translateX(-50px);
  opacity: 0;
  animation: slide-from-top 550ms ease-in-out forwards;
}
.header__name {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-size: 3.6rem;
  text-align: center;
  line-height: 1;
}
.header__subtitle {
  text-align: center;
  line-height: 1;
}
.header__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  transform: translateY(20px);
  opacity: 0;
  animation: slide-from-bottom 550ms ease-in-out forwards;
}
.header__social-link {
  display: block;
  text-decoration: none;
  transition: transform 250ms ease-in-out;
}
.header__social-link:focus-visible {
  outline: none;
  border: none;
  transform: scale(1.5);
}
@media (min-width: 901px) {
  .header__social-link:hover {
    transform: scale(1.3);
  }
}
.header__social .header__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--header-icon_bg);
  font-size: 2rem;
  color: var(--header_bg);
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-from-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  padding-inline: 1.6rem;
  background-color: var(--header_bg);
}
.navbar__lang-toggle {
  z-index: 100;
  color: var(--header_text);
}
.navbar__items {
  position: absolute;
  top: -100vh;
  left: 0;
  transform: translateY(0);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  width: 100%;
  height: 100vh;
  padding-top: 9.6rem;
  background-color: var(--header_bg);
  transition: transform ease-in-out 250ms, visibility ease-in-out 250ms;
}
@media (min-width: 901px) {
  .navbar__items {
    position: static;
    flex-direction: row;
    visibility: visible;
    width: auto;
    height: unset;
    transform: unset;
    padding-top: 0;
    font-family: "Oswald", sans-serif;
  }
}
.navbar__link {
  position: relative;
  isolation: isolate;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--header_text);
}
@media (min-width: 901px) {
  .navbar__link {
    text-transform: unset;
    font-weight: 400;
  }
}
.navbar__link::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: -0.6rem;
  z-index: -1;
  width: calc(100% + 1.2rem);
  height: calc(100% + 0.4rem);
  background-color: var(--navbar-link-hover_bg);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
@media (min-width: 901px) {
  .navbar__link::before {
    top: -0.1rem;
  }
}
.navbar__link:focus-visible {
  border: none;
  outline: none;
  color: var(--header_bg);
}
.navbar__link:focus-visible::before {
  transform: scaleX(1);
}
@media (min-width: 901px) {
  .navbar__link:hover {
    color: var(--header_bg);
  }
  .navbar__link:hover::before {
    transform: scaleX(1);
  }
}
.navbar__hamburger {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 3.6rem;
  color: var(--header_text);
  cursor: pointer;
  padding: 0.4rem;
}
.navbar__hamburger:focus-visible {
  outline: none;
  background-color: var(--header_text);
}
.navbar__hamburger:focus-visible .navbar__hamburger-line {
  background-color: var(--header_bg);
}
.navbar__hamburger-line {
  width: 100%;
  height: 0.2rem;
  opacity: 1;
  background-color: var(--header_text);
  border-radius: 1rem;
  transform-origin: left center;
  transition: transform ease-in-out 250ms, opacity ease-in-out 250ms;
}
.navbar__hamburger[aria-expanded=true] .navbar__hamburger-line:first-child {
  transform: translateX(0.4rem) rotate(45deg);
}
.navbar__hamburger[aria-expanded=true] .navbar__hamburger-line:nth-child(2) {
  opacity: 0;
}
.navbar__hamburger[aria-expanded=true] .navbar__hamburger-line:last-child {
  transform: translateX(0.4rem) rotate(-45deg);
}
.navbar__hamburger[aria-expanded=true] + .navbar__items {
  visibility: visible;
  transform: translateY(100%);
}
@media (min-width: 901px) {
  .navbar__hamburger {
    display: none;
  }
  .navbar__hamburger ~ .navbar__items {
    transform: unset;
  }
}

.skills {
  padding-inline: 1.6rem;
}
.skills__content {
  max-width: 108rem;
  margin: 0 auto;
  padding: 4.8rem 0 6.4rem;
}
@media (min-width: 901px) {
  .skills__content {
    padding: 7.2rem 0 8.8rem 0;
  }
}
.skills__title {
  margin-bottom: 3.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  text-align: center;
}
.skills__text {
  text-align: center;
  margin-bottom: 3.6rem;
}
.skills__wrapper {
  display: grid;
  max-width: 76rem;
  margin: 0 auto;
}
@media (min-width: 601px) {
  .skills__wrapper {
    grid-template-columns: max-content 1fr;
    gap: 2.4rem 1.2rem;
  }
}
.skills__group-title {
  justify-self: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
}
@media (min-width: 601px) {
  .skills__group-title {
    grid-column: span 2;
  }
}
.skills__skill-name {
  margin-top: 1rem;
  font-weight: 600;
}
@media (min-width: 601px) {
  .skills__skill-name {
    justify-self: end;
    margin-top: 0;
  }
}
.skills__bar-wrapper {
  height: 2rem;
  background-color: var(--skills-bar-wrapper_bg);
  border-radius: 2rem;
  overflow: hidden;
}
.skills__bar-wrapper + .skills__group-title {
  margin-top: 3.2rem;
}
@media (min-width: 601px) {
  .skills__bar-wrapper + .skills__group-title {
    margin-top: 1.6rem;
  }
}
.skills__bar {
  width: 0;
  height: 100%;
  background-color: var(--skills-bar-color, var(--body_text));
  border-radius: 2rem;
  transform-origin: left;
}
.skills__bar--full-width {
  animation: bar-animation 950ms 250ms ease-out forwards;
}

@keyframes bar-animation {
  from {
    width: 0;
  }
  to {
    width: var(--skills-bar-width);
  }
}
.about {
  overflow-x: hidden;
  background-color: var(--section-about_bg);
  padding-inline: 1.6rem;
}
.about__content {
  display: grid;
  gap: 4.8rem 3.2rem;
  align-items: center;
  max-width: 108rem;
  margin: 0 auto;
  padding-block: 5rem;
}
@media (min-width: 901px) {
  .about__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.about__img {
  justify-self: center;
  border-radius: 50%;
  opacity: 0;
  transition: border-radius 350ms linear, transform 750ms ease-out, opacity 750ms ease-out;
}
.about__img:hover {
  border-radius: 10%;
}
.about__img--1 {
  transform: translateX(50%);
}
@media (min-width: 901px) {
  .about__img--1 {
    transition-delay: 0s, 350ms, 350ms;
  }
}
.about__img--2 {
  transform: translateX(50%);
}
@media (min-width: 901px) {
  .about__img--2 {
    transition-delay: 0s, 350ms, 350ms;
  }
}
@media (min-width: 1201px) {
  .about__img--2 {
    transform: translateX(-50%);
    transition-delay: 0s, 0s, 0s;
  }
}
.about__img--3 {
  transform: translateX(50%);
}
@media (min-width: 901px) {
  .about__img--3 {
    transition-delay: 0s, 350ms, 350ms;
  }
}
.about__text {
  opacity: 0;
  transition: transform 750ms ease-out, opacity 750ms ease-out;
}
.about__text--1 {
  transform: translateX(-50%);
}
@media (min-width: 901px) {
  .about__text--1 {
    grid-column: 1/span 2;
    grid-row: 1;
  }
}
.about__text--2 {
  transform: translateX(-50%);
}
@media (min-width: 901px) {
  .about__text--2 {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}
@media (min-width: 1201px) {
  .about__text--2 {
    grid-column: 2/span 2;
    transform: translateX(50%);
    transition-delay: 350ms, 350ms;
  }
}
.about__text--3 {
  transform: translateX(-50%);
}
@media (min-width: 901px) {
  .about__text--3 {
    grid-column: 1/span 2;
    grid-row: 3;
  }
}
.about__text-title {
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 901px) {
  .about__text-title {
    text-align: left;
  }
}
.about__text-content {
  margin-bottom: 1.6rem;
  line-height: 1.6;
}
.about__item--slide-in {
  opacity: 1;
  transform: translateX(0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 3.2rem 1.6rem;
}
@media (min-width: 601px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 601px) {
  .footer__content {
    flex-direction: row;
  }
}
.footer__copyright {
  font-family: "Oswald", sans-serif;
  margin-right: 2.4rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 601px) {
  .footer__copyright {
    margin-bottom: 0;
  }
}
.footer__scroll-top-link {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  text-decoration: none;
}
@media (min-width: 601px) {
  .footer__scroll-top-link {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }
}
.footer__scroll-top-link:focus-visible {
  outline: 2px solid var(--body_text);
  outline-offset: 2px;
}
.footer__arrow-icon {
  font-size: 3.2rem;
  color: var(--body_text);
}
@media (min-width: 601px) {
  .footer__arrow-icon {
    font-size: 2.4rem;
  }
}

.theme-switch {
  position: relative;
  isolation: isolate;
  display: inline-flex;
  align-items: center;
  width: 5.6rem;
  height: 2.8rem;
  background-color: var(--theme-toggle_bg);
  border-radius: 2rem;
  transition: background-color 200ms ease-in-out;
}
.theme-switch::after {
  position: absolute;
  z-index: -1;
  left: 0.2rem;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--body_bg);
  border-radius: 50%;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}
.theme-switch__icon {
  flex: 0 0 50%;
  transition: color 200ms ease-in-out;
}
.theme-switch__icon--sun {
  color: var(--body_text);
}
.theme-switch__icon--moon {
  color: var(--theme-icon-inactive_color);
}
.theme-switch[aria-label=dark]:after {
  transform: translateX(calc(5.6rem - 2.4rem - 4px));
}
.theme-switch[aria-label=dark] .theme-switch__icon--sun {
  color: var(--theme-icon-inactive_color);
}
.theme-switch[aria-label=dark] .theme-switch__icon--moon {
  color: var(--body_text);
}

/*# sourceMappingURL=style.css.map */
