$body_bg: #fefefe;
$body_text: #353b5e;
$header_bg: #353b5e;
$header_text: #fefefe;
$header-link_hover: #C88FC4;
$header-icon_bg: #C88FC4;
$header-icon_text: #44455A;
$navbar-link-hover_bg: #fefefe;
$section-about_bg: #e2e9ef;
$skills-bar-wrapper_bg: #e2e9ef;

// Dark theme
$body_bg-dark: #21253b;
$body_text-dark: #ced1e4;
$header_text-dark: #e5e6f1;
$navbar-link-hover_bg-dark: #e5e6f1;
$section-about_bg-dark: #1a1d2e;
$skills-bar-wrapper_bg-dark: #090d10;