@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;600;700&family=Oswald&display=swap');

$body_font-family: 'Montserrat', sans-serif;
$headings_font-family: 'Oswald', sans-serif;
$name_font-family: 'Courgette', cursive;

$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
