/*
mobile first breakpoints
- 0 - 600 (no breakpoint, where our normal styles apply)
- tab-port - 601 - 900
- tab-land - 901 - 1200
- desktop - 1201 - 1800
- big-desktop - 1801+ 

*/

@mixin respond($breakpoint) {
    @if $breakpoint == tab-port {
        @media (min-width: 601px) { @content }
    }  
    @if $breakpoint == tab-land {
        @media (min-width: 901px) { @content }
    }  
    @if $breakpoint == desktop {
        @media (min-width: 1201px) { @content }
    }  
    @if $breakpoint == big-desktopt {
        @media (min-width: 1801px) { @content }
    }  
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin circle($size) {
    @include square($size);
    border-radius: 50%;
}
