@use '../abstracts' as *;

.about {
    background-color: $section-about_bg;
    padding: 0 1.6rem;

    &__content {
        display: grid;
        gap: 4.8rem 3.2rem;
        align-items: center;
        @include content-wrapper(108rem);
        padding: 5rem 0;
        
        @include respond(tab-land) {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    &__img {
        justify-self: center;
        border-radius: 50%;
        transition: border-radius 350ms linear;

        &:hover {
            border-radius: 10%;
        }
    }

    &__text {
        @include respond(tab-land) {
            &--1 {
                grid-column: 1 / span 2;
                grid-row: 1;
            }

            &--2 {
                grid-column: 1 / span 2;
                grid-row: 2;
            }

            &--3 {
                grid-column: 1 / span 2;
                grid-row: 3;
            }
        }

        @include respond(desktop) {
            
            &--2 {
                grid-column: 2 / span 2;
                grid-row: 2;
            }
        }

        &-title {
            margin-bottom: 2rem;
            font-family: $headings_font-family;
            font-size: 3.2rem;
            font-weight: $font-weight-normal;
            text-align: center;
            
            @include respond(tab-land) {
                text-align: left;
            }
        }

        &-content {
            margin-bottom: 1.6rem;
            line-height: 1.6;
        }
    }
}