@use '../abstracts' as *;

.about {
    overflow-x: hidden;

    background-color: var(--section-about_bg);
    padding-inline: 1.6rem;

    &__content {
        display: grid;
        gap: 4.8rem 3.2rem;
        align-items: center;
        @include content-wrapper(108rem);
        padding-block: 5rem;
        
        @include respond(tab-land) {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    &__img {
        justify-self: center;
        border-radius: 50%;
        opacity: 0;
        transition:
            border-radius $about-transition_fast linear,
            transform $about-transition_slow ease-out,
            opacity $about-transition_slow ease-out;

        &:hover {
            border-radius: 10%;
        }

        &--1 {
            transform: translateX(50%);

            @include respond(tab-land) {
                transition-delay: 0s, $about-delay, $about-delay;
            }
        }

        &--2 {
            transform: translateX(50%);

            @include respond(tab-land) {
                transition-delay: 0s, $about-delay, $about-delay; 
            }

            @include respond(desktop) {
                transform: translateX(-50%);
                transition-delay: 0s, 0s, 0s;
            }
        }

        &--3 {
            transform: translateX(50%);

            @include respond(tab-land) {
                transition-delay: 0s, $about-delay, $about-delay;
            }
        }
    }

    &__text {
        opacity: 0;
        transition:
            transform $about-transition_slow ease-out,
            opacity $about-transition_slow ease-out;

        &--1 {
            transform: translateX(-50%);

            @include respond(tab-land) {
                grid-column: 1 / span 2;
                grid-row: 1;
            }
        }

        &--2 {
            transform: translateX(-50%); 

            @include respond(tab-land) {
                grid-column: 1 / span 2;
                grid-row: 2;
            }

            @include respond(desktop) {
                grid-column: 2 / span 2;
                transform: translateX(50%);
                transition-delay: $about-delay, $about-delay;
            }
        }

        &--3 {
            transform: translateX(-50%);

            @include respond(tab-land) {
                grid-column: 1 / span 2;
                grid-row: 3;
            }
        }

        &-title {
            margin-bottom: 2rem;
            font-family: $headings_font-family;
            font-size: 3.2rem;
            font-weight: $font-weight-normal;
            text-align: center;
            
            @include respond(tab-land) {
                text-align: left;
            }
        }

        &-content {
            margin-bottom: 1.6rem;
            line-height: 1.6;
        }
    }

    &__item--slide-in {
        opacity: 1;
        transform: translateX(0);
    }
}