@use '../abstracts' as *;

.footer {
    padding: 0 1.6rem;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        @include content-wrapper(108rem);
        padding: 5rem 0;
        
        @include respond(tab-port) {
            flex-direction: row;
            justify-content: space-between;            
        }
    }

    &__copy {
        font-family: $headings_font-family;
    }

    &__arrow-icon {
        font-size: 3.2rem;
        color: $body_text;
        
        @include respond(tab-port) {
            font-size: 2.4rem;
        }
    }
}