@use '../abstracts' as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding: 3.2rem 1.6rem;
    
    @include respond(tab-port) {
        flex-direction: row;
        justify-content: space-between;            
    }
    
    &__content {
        display: flex;
        align-items: center;
    }
    
    &__copyright {
        font-family: $headings_font-family;
        margin-right: 2.4rem;
    }

    &__scroll-top-link {
        @include circle(3.2rem);
        text-decoration: none;

        @include respond(tab-port) {
            @include circle(2.4rem);
        }

        &:focus-visible {
            outline: 2px solid var(--body_text);
            outline-offset: 2px;
        }
    }

    &__arrow-icon {
        font-size: 3.2rem;
        color: var(--body_text);
        
        @include respond(tab-port) {
            font-size: 2.4rem;
        }
    }

    &__theme-switch {
        color: currentColor;
        padding-inline: 0.8rem;
        padding-block: 0.4rem;
        border-radius: 0.4rem;

        &:hover,
        &:focus-visible {
            outline: none;
            background-color: var(--section-about_bg);
        }

        &-text {
            margin-right: 0.4rem;
            font-size: 1.4rem;
        }
    }
}