@use '../abstracts' as *;

.navbar {
    $n: &;
    
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar_height;
    padding: 0 1.6rem;
    background-color: $header_bg;


    &__lang-toggle {
        z-index: 100;
        color: $header_text;
    }
    
    &__items {
        position: absolute;
        top: -100vh;
        left: 0;
        transform: translateY(0);
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
        width: 100%;        
        height: 100vh;
        padding-top: 9.6rem;
        background-color: $header_bg;
        transition: transform ease-in-out 250ms, visibility ease-in-out 250ms;

        @include respond(tab-land) {
            position: static;
            flex-direction: row;
            visibility: visible;
            width: auto;
            height: unset;
            transform: unset;
            padding-top: 0;
            font-family: $headings_font-family;
        }
    }
    
    &__link {
        position: relative;
        z-index: 0;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        color: $header_text;

        @include respond(tab-land) {
            text-transform: unset;
            font-weight: $font-weight-normal;
        }

        &::before {
            content: '';
            position: absolute;
            top: -0.2rem;
            left: -0.6rem;
            z-index: -1;
            width: calc(100% + 1.2rem);
            height: calc(100% + 0.4rem);
            transform: scaleX(0);
            background-color: $body_bg;

            @include respond(tab-land) {
                top: 0;
                transform: unset;
                display: none;
            }
        }

        &:focus-visible { 
            border: none;
            outline: none;   
            color: $header_bg;
            
            &::before {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 250ms ease-in-out;
            }
        }
        
         @include respond(tab-land) {
            &:hover,
            &:focus-visible {
                color: $header_bg;
                transform: rotate(-10deg) scale(1.1);
                transition: transform 250ms ease-in-out;

                &::before {
                    display: block;
                }
            }
        }
            
    }

    &__hamburger {
        $h: &;

        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 3.6rem;
        color: $header_text;
        cursor: pointer;
        padding: 0.4rem;

        &:focus-visible {
            outline: none; 
            background-color: $header_text;

            #{$h}-line {
                background-color: $header_bg; 
            }
        }

        &-line {
            width: 100%;
            height: 0.2rem;
            opacity: 1;
            background-color: $header_text;
            border-radius: 1rem;
            transform-origin: left center;
            transition: transform ease-in-out 250ms, opacity ease-in-out 250ms;
        }

        &[aria-expanded="true"] {
            #{$h}-line {

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotate(-45deg);
                }

            }

            + #{$n}__items {
                visibility: visible;
                transform: translateY(100%);
            } 

        }

        @include respond(tab-land) {
            display: none;

            ~ #{$n}__items {
                transform: unset;
            } 
        }
    }
}