@use '../abstracts' as *;

:root {
    color-scheme: light dark;
    
    --body_bg: #{$body_bg};
    --body_text: #{$body_text};
    --header_bg: #{$header_bg};
    --header_text: #{$header_text};
    --header-icon_bg: #{$header-icon_bg};
    --navbar-link-hover_bg: #{$navbar-link-hover_bg};
    --section-about_bg: #{$section-about_bg};
    --skills-bar-wrapper_bg: #{$skills-bar-wrapper_bg};
    --selection-highlight_bg: #{$selection-highlight_bg};
    --selection-highlight_text: #{$selection-highlight_text};
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: $navbar_height;
    font-size: 62.5%;

    &[data-theme="dark"] {
        --body_bg: #{$body_bg-dark};
        --body_text: #{$body_text-dark};
        --header_text: #{$header_text-dark};
        --navbar-link-hover_bg: #{$navbar-link-hover_bg-dark};
        --section-about_bg: #{$section-about_bg-dark};
        --skills-bar-wrapper_bg: #{$skills-bar-wrapper_bg-dark};
    }

    &.menu-overlay {
        overflow-y: hidden;
    }
}


body {
    background-color: var(--body_bg);
    font-family: $body_font-family;
    font-size: 1.6rem;
    color: var(--body_text);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

strong {
    font-weight: $font-weight-medium;
}

::selection {
    color: var(--selection-highlight_text);
    background-color: var(--selection-highlight_bg);
}