@use '../abstracts' as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: $navbar_height;
    font-size: 62.5%;

    &.menu-overlay {
    overflow-y: hidden;
    }
}

body {
    background-color: $body_bg;
    font-family: $body_font-family;
    font-size: 1.6rem;
    color: $body_text;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}